h1,
form {
  text-align: center;
}
.center {
  margin-left: auto;
  margin-right: auto;
  font-size: 2rem;
}
.hidden {
  display: none;
}
.letter {
  letter-spacing: 2rem;
  /* border: 0.1rem dotted grey; */
  text-align: center;
}
