<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/static/app.css">


    <title>Play Boggle!</title>
</head>

<body>
    <h1>Boggle!</h1>
    <div class="row border border-info m-4">
        <div class="col">Timer: <span id="timer">60</span></div>
        <div class="col">Points: <span id="points">0</span></div>
        <div class="col">Best Score: {{ session["highscore"] }}</div>
        <div class="col">Times Played: {{ session["games_played"] }}</div>
    </div>
    </div>
    </header>
    <table class="center">
        <tbody>
            {% for row in board %}
            <tr>
                {% for letter in row %}
                <td class="letter">{{letter}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>

    <form id="submitword">
        <input type="text" name="word" id="">
        <button class="btn btn-success">Submit Word</button>
    </form>
    <br>
    <div id="notify" class="container hidden"></div>
    <div class="text-center">
        <a id="restart" href="/" role="button" class=" btn btn-info hidden">Restart Game</a>
    </div>
    <script src="http://unpkg.com/jquery"></script>
    <script src="https://unpkg.com/axios/dist/axios.js"></script>
    <script src="/static/app.js"></script>
    <script>
        let game = new BoggleGame();
    </script>
</body>

</html>